*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    color: #161616;
    font-family: 'Georgia', serif;
    overflow-x: hidden;
    animation: slideshow 70s infinite ease-in-out;
    transition: background-image 10s ease-in-out;

}

.hero {
    width: 100%;
    padding-top: 50px; /* Controla a distância do topo de TUDO */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #0f0f0f;

    position: absolute;
    top: 300px;
    left: 2%;
    /*transform: translateX(-50%);*/
}
h2 { /* Ou a classe que você usou para o "In Loving Memory" */
    padding: 0 20px;     /* Adiciona 20px de espaço nas laterais */
    text-align: absolute;  /* Se quiser que o título também fique no meio */
    margin-top: -10px;    /* Afasta um pouco das datas (2019-2026) */
}

.datas {
    position: absolute;
    top: 400px;
    left: 8%;
    transform: translateX(-50%);
    color: #0e0d0d;

}

.frase {
    font-size: 20px;
    color: #0e0d0d;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;

}

.foto-principal {

    width: 250px;
    height: 325px;
    object-fit: cover;
    border-radius: 50%;
    animation: surgimentoSuave 3s ease-out;

    position: absolute;
    top: -10px;
    right: 83%;
    /*transform: translateX(-50%);*/
}

.historia {
    padding: 40px;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 800px;
    
}


.background-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;

    animation: slideshow 20s linear infinite;

    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0a0a0a;

}

@keyframes slideshow {
    /* FOTO 1 */
    0%, 9% { background-image: url('imagens/loki1.jpg'); opacity: 1; filter: blur(0); }
    10% { opacity: 0; filter: blur(8px); } /* Suaviza antes de trocar */

    /* FOTO 2 */
    11%, 20% { background-image: url('imagens/loki2.jpg'); opacity: 1; filter: blur(0); }
    21% { opacity: 0; filter: blur(8px); }

    /* FOTO 3 */
    22%, 31% { background-image: url('imagens/loki3.jpg'); opacity: 1; filter: blur(0); }
    32% { opacity: 0; filter: blur(8px); }

    /* FOTO 4 */
    33%, 42% { background-image: url('imagens/loki4.jpg'); opacity: 1; filter: blur(0); }
    43% { opacity: 0; filter: blur(8px); }

    /* FOTO 5 */
    44%, 53% { background-image: url('imagens/loki5.jpg'); opacity: 1; filter: blur(0); }
    54% { opacity: 0; filter: blur(8px); }

    /* FOTO 6 */
    55%, 64% { background-image: url('imagens/loki6.jpg'); opacity: 1; filter: blur(0); }
    65% { opacity: 0; filter: blur(8px); }

    /* FOTO 7 */
    66%, 75% { background-image: url('imagens/loki7.jpg'); opacity: 1; filter: blur(0); }
    76% { opacity: 0; filter: blur(8px); }

    /* FOTO 8 */
    77%, 86% { background-image: url('imagens/loki8.jpg'); opacity: 1; filter: blur(0); }
    87% { opacity: 0; filter: blur(8px); }

    /* FOTO 9 */
    88%, 97% { background-image: url('imagens/loki9.jpg'); opacity: 1; filter: blur(0); }
}


@keyframes surgimentoSuave {
    from {
        opacity: 1;
        opacity: 0;
        filter: blur(10px) grayscale(100%);
        transform: translateY(20px);
    }
    to {
        filter: blur(0) grayscale(0%);
        transform: translateY(0);
    }
}

audio {
    position: fixed;
    bottom: 15px;   /* Distância do fundo da tela */
    left: 20px;    /* Distância da direita */
    opacity: 0.1;   /* Deixa o player meio transparente para não chamar muita atenção */
    transition: opacity 0.3s;
    z-index: 100;   /* Garante que fique em cima das fotos de fundo */
}

audio:hover {
    opacity: 1;     /* Quando você passa o mouse, ele fica nítido */
}

@media (max-width: 600px) {
    /* Organiza a seção do topo em coluna */
    
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .foto-principal {
    display: block;      /* Faz a imagem se comportar como um bloco */
    margin: 0 auto;      /* Mágica do CSS: centraliza horizontalmente */
    width: 30%;          /* Tente 60% ou 150px para não ocupar a tela toda */
    height: auto;
    position: static;    /* Isso tira ela de qualquer posição "fixa" no canto */
    margin-top: -15px;
    animation: surgimentoSuave 3s ease-out;
    }

    h1 {
        font-size: 2.8rem;
        margin: 10px 0 5px 0;
        position: static; /* Garante que o nome não flutue */
        margin-top: -10px;
    }

    /* Agora as datas vão ficar logo abaixo do nome, centralizadas */
    .datas {
        font-size: 1rem;
        color: #181717; 
        margin-bottom: 30px;
        /*position: absolute;*/ 
        left: 195px;
        margin-top: -195px;
    }

    /* Melhora o texto da história para não ficar grudado nas bordas */
    p {
        padding: 0 15px;
        line-height: 1.7;
        text-align: left;
    }
}